body {
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 243, 238);
    justify-content:space-evenly;
    font-size: x-large;
}
h1{
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}